<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Academic Results</title>
    <!-- Add any necessary meta tags and links to stylesheets here -->
  </head>
  <body>
    <th:block th:insert="header.html"></th:block>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <th:block th:insert="_sidebar.html"></th:block>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <th:block th:insert="_navbar.html"></th:block>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add New Event</h4>
                  <p class="card-description">fill out all the information</p>
                  <form class="forms-sample" action="/event" method="post" >
                    <div class="form-group">
                        <label for="exampleInputName1">Event Title</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Title" name="title">
                      </div>
                   
                   <div class="form-group">
                        <label for="exampleInputName1">Event Content</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Event Content" name="content">
                      </div>
                      
                      <div class="form-group">
                        <label for="exampleInputName1">Event Registration Link</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Event Registration Link" name="link">
                      </div>
                      
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a href="/dashboard"><button type="button" class="btn btn-dark">Cancel</button></a>
                    
                  </form>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Events Overview</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>
                              <div class="form-check form-check-muted m-0">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                </label>
                              </div>
                            </th>
                            <th>Event Title</th>
                            <th>Event Content</th>
                            <th>Event Link</th>

                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- Iterate over each student in the "Alist" list -->
                          <tr th:each="ev : ${eventlist}">
                            <td>
                              <div class="form-check form-check-muted m-0">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                </label>
                              </div>
                            </td>
                            <td th:text="${ev.title}"></td>
                            <td th:text="${ev.content}"></td>
                            <td th:text="${ev.link}"></td>
       
                            <td>
                              <a class="btn btn-danger" th:href="@{/delete/{id}(id=${ev.id})}">Delete</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <th:block th:insert="_footer.html"></th:block>
            <!-- partial -->
          </div>
          <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>
    </div>
    <!-- End custom js for this page -->
  </body>
</html>
